{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/abi {:git/url "https://github.com/kotoba-lang/abi.git"
                                   :git/sha "34415ce9bf2b8d37d5bc8259ba7e00f5d091eb44"}
        org.clojure/tools.reader {:mvn/version "1.5.2"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        io.github.kotoba-lang/kotoba-script
        {:git/url "https://github.com/kotoba-lang/kotoba-script.git"
         :git/sha "d481833b07a0fb70d1bb26b2366ef4c3c73f4000"}
        ;; ADR-2607266000 Phase B: these responsibilities moved out of this repo.
        ;; The compiler owns frontend -> KIR; it consumes the rest.
        io.github.kotoba-lang/kotoba-kir
        {:git/url "https://github.com/kotoba-lang/kotoba-kir.git"
         :git/sha "0efe32518a422c2f8ab32de4d9a75720d67780e8"}
        io.github.kotoba-lang/artifact
        {:git/url "https://github.com/kotoba-lang/artifact.git"
         :git/sha "ba29522ece748d2f7ff420d2ba45b1126c94baf8"}
        io.github.kotoba-lang/kotoba-wasm
        {:git/url "https://github.com/kotoba-lang/kotoba-wasm.git"
         :git/sha "33b537fec490fb55c4f046e1ffc8e02d6a060b68"}
        io.github.kotoba-lang/kotoba-native
        {:git/url "https://github.com/kotoba-lang/kotoba-native.git"
         :git/sha "6cea4da1af847335395d2ffcc1daa81ede6dd0ce"}
        io.github.kotoba-lang/kotoba-component
        {:git/url "https://github.com/kotoba-lang/kotoba-component.git"
         :git/sha "653d12291156ae23dad6993a2d68dea29d157045"}
        io.github.kotoba-lang/kotoba-verifier
        {:git/url "https://github.com/kotoba-lang/kotoba-verifier.git"
         :git/sha "a79f5b7c018396b1bedff227b0f0f1522b637e6b"}
}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps
                  {io.github.kotoba-lang/provider
                   {:git/url "https://github.com/kotoba-lang/provider.git"
                    :git/sha "678b0ec0d1b7daaff890e0a3044d853e977c5cde"}
                   io.github.kotoba-lang/tender-native
                   {:git/url "https://github.com/kotoba-lang/tender-native.git"
                    :git/sha "7442e8c1cc2de8262e84e3f19ad9081db40f77b7"}}
                  :main-opts ["-m" "kotoba.compiler.test-runner"]}
           :native-run
           {:extra-deps
            {io.github.kotoba-lang/tender-native
             {:git/url "https://github.com/kotoba-lang/tender-native.git"
              :git/sha "7442e8c1cc2de8262e84e3f19ad9081db40f77b7"}}
            :main-opts ["-m" "kotoba.compiler.cli"]}
           :run {:main-opts ["-m" "kotoba.compiler.cli"]}
           :conformance
           {:main-opts ["-m" "kotoba.compiler.lang-conformance"]}
           :native-conformance
           {:extra-deps
            {io.github.kotoba-lang/tender-native
             {:git/url "https://github.com/kotoba-lang/tender-native.git"
              :git/sha "7442e8c1cc2de8262e84e3f19ad9081db40f77b7"}
             io.github.kotoba-lang/provider
             {:git/url "https://github.com/kotoba-lang/provider.git"
              :git/sha "678b0ec0d1b7daaff890e0a3044d853e977c5cde"}}
            :extra-paths ["test"]
            :main-opts ["-m" "kotoba.compiler.lang-native-conformance"]}
           :fuel-estimate
           {:main-opts ["-m" "kotoba.compiler.fuel-estimate"]}}}
