{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/security {:git/url "https://github.com/kotoba-lang/security.git"
                                        :git/sha "49fc4ce359752e9fe6e547e9071b5b9b40da937a"}
        io.github.kotoba-lang/abi {:git/url "https://github.com/kotoba-lang/abi.git"
                                   :git/sha "c103cae03fe4945d4294f7a7445720125112360d"}
        org.clojure/tools.reader {:mvn/version "1.5.2"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        io.github.kotoba-lang/kotoba-script
        {:git/sha "b6f1a37e48b69ef4def424e0868b041c32fdbf32"}
        ;; ADR-2607266000 Phase B: these responsibilities moved out of this repo.
        ;; The compiler owns frontend -> KIR; it consumes the rest.
        io.github.kotoba-lang/kotoba-kir
        {:git/url "https://github.com/kotoba-lang/kotoba-kir.git"
         :git/sha "22d31af066d773e30504133fd3cde831149cfd63"}
        io.github.kotoba-lang/artifact
        {:git/url "https://github.com/kotoba-lang/artifact.git"
         :git/sha "af43fc8fa43edb12361828e26456f75b12ab40be"}
        io.github.kotoba-lang/kotoba-wasm
        {:git/url "https://github.com/kotoba-lang/kotoba-wasm.git"
         :git/sha "8361062bedb44beb9f6d1d838ade9efa226ba6ec"}
        io.github.kotoba-lang/kotoba-native
        {:git/url "https://github.com/kotoba-lang/kotoba-native.git"
         :git/sha "85b628f839533ae6f35b23cb6464ce245ea6fdad"}
        io.github.kotoba-lang/kotoba-component
        {:git/url "https://github.com/kotoba-lang/kotoba-component.git"
         :git/sha "c042892b80d7fed94875f0ca80e898139961950a"}
        io.github.kotoba-lang/kotoba-verifier
        {:git/url "https://github.com/kotoba-lang/kotoba-verifier.git"
         :git/sha "ef5d93d628d33b3101e6e487c6eed22f19e19a01"}
        io.github.kotoba-lang/provider
        {:git/url "https://github.com/kotoba-lang/provider.git"
         :git/sha "4c7b886b4458da0e8eb8b089aad07e2bcc053774"}
        io.github.kotoba-lang/tender-native
        {:git/url "https://github.com/kotoba-lang/tender-native.git"
         :git/sha "a41813d1931b3234ecebb1bd582957fd66198ed1"}
}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "kotoba.compiler.test-runner"]}
           :run {:main-opts ["-m" "kotoba.compiler.cli"]}}}
