{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/security {:git/url "https://github.com/kotoba-lang/security.git"
                                        :git/sha "49fc4ce359752e9fe6e547e9071b5b9b40da937a"}
        io.github.kotoba-lang/abi {:git/url "https://github.com/kotoba-lang/abi.git"
                                   :git/sha "2a928bd18eb609851454794651dc40fa1259b0ab"}
        org.clojure/tools.reader {:mvn/version "1.5.2"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        ;; Checked-KIR-only JavaScript backend, pinned immutably so standalone
        ;; clones and release builders never depend on a sibling checkout.
        io.github.kotoba-lang/kotoba-script
        {:git/sha "b6f1a37e48b69ef4def424e0868b041c32fdbf32"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "kotoba.compiler.test-runner"]}
           :run {:main-opts ["-m" "kotoba.compiler.cli"]}}}
