{:format :kotoba.fuzz-baseline/v2
 :loader-source-sha256 "f28b175fd240f542bae9ea45b8942066d57b5e820572d7e6b0b2496c201d4d3f"
 :profiles {:x64 {:min-cov 60 :min-features 100 :min-corpus 20}
            :arm64 {:min-cov 60 :min-features 100 :min-corpus 18}}}
