{:format :kotoba.fuzz-baseline/v2
 :loader-source-sha256 "8b55e8de3553b78e11d7bd4129ba0e6969010c8c6c7612ebb22732f7de6b9e55"
 :profiles {:x64 {:min-cov 60 :min-features 100 :min-corpus 20}
            :arm64 {:min-cov 60 :min-features 100 :min-corpus 18}}}
